<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Trial</title>
</head>

<body style="background:#f9f8fa; padding:3em;">
    {{>header}}
    <div
        style="padding:3em; width:40em; margin:0 auto; background:#FFF; border:1px solid #ebe7ef; border-radius:2em; text-align:center;">
        <div>
            <img src="https://i.imgur.com/mNSjiDM.png" height="200" />
            <h1 style="color:#272e4f; font-size:2em;">Novo interessado no Caramelo!</h1>
            <p style="color:#272e4f; font-size:1.2em; line-height:1.8em;">Entre em contato com o cliente abaixo assim
                que possível:</p>
            <ul
                style="color:#272e4f; font-size:1.2em; line-height:1.8em; margin:0; margin-bottom:3em; list-style:none;">
                <li>Nome: {{name}}</li>
                <li>E-mail: {{email}}</li>
                <li>Telefone: {{phone}}</li>
                <li>Cidade: {{city}}</li>
            </ul>
            <a style="display:inline-block; padding:1.5em; border-radius:2em; color:#FFF; font-size:1.3em; text-decoration:none; font-weight:bold; background:#272e4f;"
                href="https://wa.me/55{{phone}}?text=Ol%C3%A1%21+Recebemos+sua+solicita%C3%A7%C3%A3o+para+saber+mais+informa%C3%A7%C3%B5es+sobre+o+Caramelo+App.+Meu+nome+%C3%A9+Maykel%2C+e+vou+continuar+a+partir+daqui+%3A%29"
                target="_blank" title="Link externo: WhatsApp">Contatar via Whatsapp</a>
        </div>
    </div>
    {{>footer}}
</body>

</html>